.*
!.gitignore
.*/
*.build.number
*.class

*-testclasses.xml
*-webtestclasses.xml
build.xml
platformhome.properties
*.xsd
ruleset.xml

#**/lib/
**/classes/
**/testclasses/
**/gensrc/
**/addonsrc/
**/commonwebsrc/
**/addons/
**/build/
**/eclipsebin/
**/jalo/
hepbasehmc.jar